<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Study Finder</title>

	<link rel='stylesheet' media="(min-width: 500px)" href="css/desktopHome.css"></link>
	<link rel='stylesheet' media="(max-width: 499px)" href="css/mobileHome.css"></link>
	<link rel='stylesheet' media="(min-width: 500px)" href="css/desktopFormStructure.css"></link>
	<link rel='stylesheet' media="(max-width: 499px)" href="css/mobileFormStructure.css"></link>


	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/home.js"></script>
	<script type="text/javascript" src="js/navigation.js"></script>
	
</head>

<body>
	<div class='content'>

		<div class='main_nav'>

			<input type="submit" value="Create New Study Group" id="create_new_group">

			<input type="submit" value="Advanced Study Group Search" id="advanced_search">

			<div class='quick_search_div'>
				<form>
					Class:<input type="text" id = "class_wanted"> <br>
					Teacher:<input type="text" id = "teacher_wanted"> <br>
					<input type="submit" value="Search" id = "mini-button">
				</form>
			</div>

		</div>

		<div class='new_group_form' id = "new_group_form_class">

			<form>
				Class :<input type="text" value="" placeholder="COMP 182" required ><br>

				Teacher :<input type="text" value="" placeholder="Luay Nekhleh" required ><br>

				Max # of people:<input type="number" min="0" max="15" step=1><br>

				Location :<input type="text" value="" placeholder="BRK 101" required><br>

				Your Name :<input type="text" value=""><br>

				Time :<input type="text" value=""><br>

				<input type="submit" value="Submit">
			</form>

		</div>
	
	</div>

</body>