<head>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<title>Study Finder</title>

	<link rel='stylesheet' media="(min-width: 500px)" href="/css/desktopHome.css"></link>
	<link rel='stylesheet' media="(max-width: 499px)" href="/css/mobileHome.css"></link>
	<link rel='stylesheet' media="(min-width: 500px)" href="/css/desktopFormStructure.css"></link>
	<link rel='stylesheet' media="(max-width: 499px)" href="/css/mobileFormStructure.css"></link>

	<script type="text/javascript" src="/js/home.js"></script>
	<script type="text/javascript" src="/js/navigation.js"></script>
	
</head>

<body>
	<div class='content'>
		
		<h1> Hello World </h1>

	</div>

</body>