body {
    overflow: hidden;
    background-image: url("https://scholarship.rice.edu/bitstream/handle/1911/70821/wrc00312.jpg?sequence=1") ;
    background-repeat: 2;
    background-size: 75% 100%;
    background-position: right: 0;
}

.content{
    overflow-x: hidden;
    overflow-y: auto;
	position: auto;
}

.new_group_form{
	position: absolute;
	left: -999em;
}

.advanced_search_form{
    position: absolute;
    left: -999em;
}

.text_box{
    position: absolute;
    left: -999em;
}

#h1 {
    color: white;
}

#create_new_group{
	height: 15%;
    width: 20%;
    border-color: #6495ED;
    background-color: #007f00;
    border-radius: 1% black;
    margin: left;
    text-align:center;
    text-decoration: none;
    color: white;
    font-family: Lucida; 
    font-size: 120%;
    position: fixed;
    top: 10%;
    left: 10%;
}

#advanced_search{
	height: 15%;
    width: 20%;
    border-color: #6495ED;
    background-color: #007f00;
    border-radius: 1% black;
    margin: right;
    text-align:center;
    text-decoration: none;
    color: white;
    font-family: Lucida;
    font-size: 120%;
    position: fixed;
    top: 10%;
    right: 10%;
}

.quick_search_div h3{
    color: black;
    text-align: center;
}
.quick_search_div form{
    position: fixed;
    text-align: center;
    left: 43%;
    top: 50%;
    border: 10% #BCD2EE;
    border-radius: 5%;
    background-color: #357ae8;
}

.new_group_form form{
    text-align: center;
    border: 10% #BCD2EE;
    border-radius: 5%;
    background-color: #BCD2EE;
}

.advanced_search_form form{
    text-align: center;
    border: 10% #BCD2EE;
    border-radius: 5%;
    background-color: #BCD2EE;
}




